<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005738397574-d6evrn6v5eacajdo8ck7e4r86av00lpe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005738397574-d6evrn6v5eacajdo8ck7e4r86av00lpe</string>
	<key>API_KEY</key>
	<string>AIzaSyAB3CCfJU8b85J47Qgdk7cbWb7vPgP-K8w</string>
	<key>GCM_SENDER_ID</key>
	<string>1005738397574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ksr.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-74782</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-74782.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005738397574:ios:e8fc2d49728a5816c76607</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-74782.firebaseio.com</string>
</dict>
</plist>